$activeColor: #eb734f; //orange
$darkenColor: darken($activeColor, 20%);


.squaredOne {
  .inputbox{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 2px $activeColor solid;
    cursor: pointer;
    transition: 20ms ;
    &:hover{
        box-shadow: inset 0 0 5px 5px $activeColor;
        opacity: 0.7;
      }
    .inputbutton{
      width: 24px;
      height: 24px;
      background: $activeColor;
      box-shadow: inset 0 0 5px 5px #eb734f ;
      border-radius: 2px;
      
    }
  }
}
  