@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(18, 15, 49);
  --background-start-rgb: 244, 239, 241;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
     scrollbar-width: none;
     scroll-behavior: auto;
     overflow-x: hidden;
     font-family: 'Archivo',monospace;
}

.btn_shadow:hover{
  box-shadow: 0 0 45px rgb(224, 123, 16);
  transition: all 22ms;
}
a{
  margin: 0;
  padding: 0;
}